{%extends "base.html"%}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid" style="background-color:'yellow'">
    <div class="span2" >
      {% if user == form.user and form.voter.all.count > 0%}
      <div class="well">
      
  <table class="table " style="width:100%">
  
  <thead>
    <tr>
      <th>VOTERS</th>
    </tr>
  </thead>
  <tbody>
    {% for i in form.voter.all %}
   <tr>
      <td><a href="view_{{i.username}}&{{form.name}}">{{i.username }}<a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
   
</div>
 {% endif %}
</div>


    <div class="span10">
      <!--Body content-->
<div class='well'>
<form class="form-horizontal" {%if disable%}action="#"{%else%}action="index"{%endif%} method = 'post'>
<fieldset>

<!-- Form Name -->
<legend><h3>{{form.name}}</h3></legend>
{% if disable%}
<input type='hidden' name='disabled'>
{% else %}
{% csrf_token  %}
{% endif %}

{% for i in form.question_set.all%}

<div class="control-group">
  <label class="control-label" for="{{i.question}}" >{{i.question}}</label>
  <div class="controls">
    {% if i.q_type == 'B' %}
    <select id="selectbasic" name="{{i.id}}" class="input-large">
      <option value='0'>NO</option>
      <option value='1'>YES</option>
    </select>
    {% else %}
    <input id="textinput" name="{{i.id}}" type="number" placeholder="placeholder" class="input-large">
	{% endif %}    
  </div>
</div>

{% endfor %}

<input type='hidden' value="{{form.name}}" name='fname'  >
<!-- Button -->
<div class="control-group">
    <div class="controls">
    <button type='submt'id="singlebutton" name="singlebutton" class="btn  btn-success" {%if disable%}disabled{%endif%}>Submit</button>
    </div>
</div>

</fieldset>
</form>

{%  if user == form.user %}
</div>
<div class="well nav-sidebar">
<form action = 'mail-it' method='post'>
<legend >mail to a friend</legend>
			<fieldset>
        {%csrf_token%}
				<div class="control-group">
				<input type='hidden' value='{{form.name}}' name='fname'>
        <input type='hidden' vaue='{{user.email}}' name='user'>
        <input name = 'email' class="span3" type="email" required>
				<input type='submit' value='send' class="btn btn-primary">
			    </div>
			</fieldset>
</form>
</div>
{% endif %}
</div>
  </div>
</div>

{% endblock %}
<footer class="well">
<p>© Django 2013</p>
</footer>
