<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load static %}
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" media="screen">
     <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    
    <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 40px;
      }
    </style>
    
    <link href="{%static "css/bootstrap-responsive.css" %}" rel="stylesheet">
<style>
  body{
    {% if login != 1 %}
      background-image :url({%static "form.jpg"%});
    {% else %}
    background-image :url({%static "back.jpg"%});
    {% endif %}
  }

</style>
  </head>

  <body >

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Django ...!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              
              <li><a href="index  ">{% if login == 1%}{{user.username}}{% else %}Home{% endif %}</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              {% if login == 1 %}
              <li><a href='logout'>Sign out</a></li>
              {%  endif %}
            </ul>

              {% if login != 1 %}
              <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Sign</button>
              {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please sign in</h3>
  </div>
  <div class="modal-body">
      <form class="form-signin" action='login' method='post'>
        {% csrf_token %}
        <input type="text" name="username" class="input-block-level" placeholder="user_name">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <input type='submit' class="btn btn-info" value="Signin."></input>
          <a href="signup" class="btn btn-info btn-primary ">signup</a>
      </div>
    
      </form>
  </div>
 </div>
    <div class="data">
      {% if error%}
  <div class="alert">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> {{error}}
  </div>
{% elif succes %}
<div class="alert alert-success">
  . <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Great!</strong> {{succes}}
</div>
{% endif %}
<div class="blockhere">
      {%block content%}
<!-- data here for al other websites -->

      {% endblock %}
</div>
    </div ><!-- data -->
<footer class="well">
<p>© DjangoUI 2013</p>
</footer>
  </body>

</html>
