{% extends "base.html" %}

{% block content %}
<div class='well'>
<H2 align ><em>{{name}}<em></H2>
<form action='do-it' method='post'>
<input type='hidden' name='fname' value="{{name}}">
<input type='hidden' name = 'comment' value="{{comment}}">
{% csrf_token%}
{% for i in val %}
	<br>
	<label for="quest{{forloop.counter}}" name="l{{forloop.counter}}">Question {{forloop.counter}}</label>
	<input type = 'text' name = 'q{{forloop.counter}}'>
	<select name='t{{forloop.counter}}'><option value='B' selected = "selected">Boolean</option><option value='I'>Integer</option></select>
{% endfor %} 
<input type='hidden' value={{num}} name='count'>
<input type='submit' vaue='submit' name='submitted'>
</div>
{% endblock %}
