{% extends "base.html"%}
{% block content %}

{% if login%}
<div class="container-fluid">
 <div class="row-fluid" >
 	{%  if user.form_set.all.count > 0 %}
 	<div class="span3">
 <div class="well sidebar-nav">
   
          
          	  <ul class="nav nav-list">
              <li class="nav-header">Forms</li>
              {% for i in user.form_set.all%}
              <li><a href="form_{{i.name}}">{{i.name}}</a></li>
              {% endfor %}
               </ul>
           <!--/.well -->

    </div>
 </div><!--/span-->
  <div class="span9">
    	{% else%}
    <div class="span12">
    	{% endif %}
<div class="well">
{% if voted %}
	You have succesfully voted on the form...thankyou
{% endif %}

<form action='form-create' method='post'>
<fieldset>
	{% csrf_token %}
<ledger class='lead nav-header'> CREATE FORM </ledger>

<div class="control-group">
	<label class = "control-label" for='Name'>Name</label>
	<div class="controls">
	<input type='text' name='name' class= 'input-large' required>
	</div>
</div>

<div class="control-group">
<label for = 'comment' class="control-label">Comment</label>
<div class="controls">
	<textarea name='comment' rows='3' class="input-large" required></textarea>
</div>
</div>

<div class="control-group">
	<label class= "control-label" for = 'number of fields'>Number of Questions</label>
	<div class="controls">
	<input class="input-large" type='number' name ='numval' required>
	</div>
</div>
<div class="control-group">
	<div class="controls">
<input type='submit' class='btn btn-info' value='submit'>
	</div>
</div>
</fieldset>
</form>

</div>
</div>
</div>
<div>
</div>
{% else %}
{% load static %}
<img src="{%static "form.jpg"%}" width="100%" height="100%"> 
{% endif %}
</div>
{% endblock %}

	