{% extends "base.html" %}
	
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="login">
{% csrf_token %}
<input type = 'text' name='username' placeholder='name'>
<input type='password' name='password'>
<input type="submit" value="login" />

</form>

{% endblock %}
