{%extends 'base.html'%}
{% block content %}
<div class="container">
        	<div class="row-fluid">
            	<div class="span12">
                	
                    <div class="span6 well">
                    	<div class="area">
                            <form class="form-horizontal" action='sign_pro' method='post'>
                            	{% csrf_token %}
                                <div class="heading">
                                    <h4 class="form-heading">Sign Up</h4>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="inputFirst">First Name</label>
                                    <div class="controls">
                                        <input type="text" name="fname" placeholder="E.g. Ashwin">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputLast">Last Name</label>
                                    <div class="controls">
                                        <input type="text" name="lname" placeholder="E.g. Hegde">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input type="email" name="email" placeholder="E.g. ashwinh@cybage.com">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputUser">Username</label>
                                    <div class="controls">
                                        <input type="text" name="username" placeholder="E.g. ashwinhegde">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" name="password" placeholder="Min. 8 Characters">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        
                                        <input type="submit" class="btn btn-success">
                                        
                                    </div>
                                </div>	
                                
                            </form>	
						</div>                            
                    </div>
                </div>
            	
            </div>
        </div>
 {% endblock %}