{% extends "base.html"%}
{% block content%}
<div class="well">
<table class="table table-bordered">
	<caption>{{form.name}}</caption>
	<thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
{% for i in questions%}
 {%for j in i.answer_set.all%}
 {% if j.user.username  == fuser%}
<tr>
      <td>{{i.question }}</td>
      <td>
      	{%if i.q_type == 'B' %}
      	{% if j.answer == 1 %}
      	YES
      	{%else%}
      	NO
      	{%endif%}
      	{%else%}
      	{{j.answer}}
      	{%endif%}</td>
    </tr>
  {% endif %}
 {% endfor %}
{% endfor%}
</tbody>
</table>
</div>
{% endblock %}


<table>
  
  
  